<div>
    {{#if student}}
    <h4>Highest GPA:</h4>
    <span>Student ID: </span><span>{{student.studId}}</span><br><br>
    <span>Student Name: </span>{{student.name}}<span></span><br><br>
    <span>Program: </span><span>{{student.program}}</span><br><br>
    <span>Student GPA: </span><span>{{student.gpa}}</span><br><br>
    {{else}}
    <p>No Data..!</p>
    {{/if}}
</div>